/* Coming Soon Page */
.coming-soon-page ul.countdown {
  text-align: center; }

.coming-soon-page ul.countdown li {
  display: inline-block;
  margin: 0 5px; }

.coming-soon-page ul.countdown li span {
  font-size: 48px; }

.coming-soon-page ul.countdown li.seperator {
  font-size: 48px;
  line-height: 65px;
  vertical-align: top; }

.coming-soon-page ul.countdown li p {
  text-transform: capitalize; }
