/* Newsletter */
.newsletter-area {
    background-image: url('../img/home-1/newsletter/newsletter-bg.png');
    background-repeat: no-repeat;
    background-position: center right;
    h2, p {
        width: 70%;
    }
    button {
        cursor: pointer;
    }
    form {
        margin-top: 60px;
        position: relative;
        input {
            width: 90%;
            border: 1px solid transparent;
            height: 80px;
        }
        button {
            border: 1px solid var(--secondary-color);;
            background: var(--secondary-color);
            position: absolute;
            top: 0;
            right: 0;
            height: 80px;
            span {
                padding: 0 20px;
                color: $white;
                display: inline-block;
                font-size: 50px;
            }
        }
    }
}  